{% extends "_layout.html.twig" %}
{% block title %}Admin{% endblock %}
{% block scripts %}
	<script src="/bower_components/autosize/dist/autosize.min.js"></script>
	<script src="/bower_components/nanoajax/nanoajax.min.js"></script>
	<script src="/bower_components/vue/dist/vue.min.js"></script>
	<script src="{{'/js/invoice.js' | bust_cache }}"></script>
	<script src="{{'/js/invoice-line.js' | bust_cache }}"></script>
	<script src="{{'/js/invoice-admin.js' | bust_cache }}"></script>
	<script>
		// Invoice list
		new InvoiceAdmin({{invoices | json_encode | raw}});
	</script>
{% endblock %}
{% block content %}
	{% verbatim %}
	<div class="row row--full-height" id="invoice-admin">
		<ul class="invoice-list">
			<li>
				<button class="invoice-list__item invoice-list__item--new" @click="newInvoice">
					<div class="invoice-list__item__name">
						Create new invoice
					</div>
				</button>
			</li>
			<li v-for="invoice in invoices">
				<button class="invoice-list__item" :class="{'invoice-list__item--selected': invoice === selected}" @click="select(invoice)">
					<div class="invoice-list__item__name">
						{{ invoice.company }}
					</div>
					<div class="invoice-list__item__type">
						{{ invoice.type }}
					</div>
					<div class="invoice-list__item__date">
						{{ invoice.modified | date }}
					</div>
					<div class="invoice-list__item__unsaved" v-if="invoice.unsaved || invoice.unsavedLines">*</div>
				</button>
			</li>
		</ul>
		<form class="invoice-edit" v-if="selected" @submit.prevent="selected.save.call(selected)">
			<div class="invoice-edit__field">
				<label for="company">Company</label>
				<input type="text" name="company" id="company" v-model="selected.company">
			</div>

			<div class="invoice-edit__field">
				<label for="name">Name</label>
				<input type="text" name="name" id="name" v-model="selected.name">
			</div>

			<div class="invoice-edit__field">
				<label for="address">Address</label>
				<textarea name="address" id="address" rows="1" v-model="selected.address" v-autosize></textarea>
			</div>

			<div class="invoice-edit__field">
				<label for="type">Type</label>
				<select name="type" id="type" v-model="selected.type">
					<option value=""></option>
					<option value="quote">Quote</option>
					<option value="invoice">Invoice</option>
				</select>
			</div>

			<div class="invoice-edit__table" v-if="selected.id">
				<table>
					<thead>
						<tr>
							<th>Description</th>
							<th>Charge</th>
							<th>Quantity</th>
							<th>Hours</th>
							<th>Total</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="line in selected.lines">
							<td><input type="text" v-model="line.description"></td>
							<td><input type="text" v-model="line.charge | currency"></td>
							<td><input type="number" v-model="line.quantity"></td>
							<td><input type="checkbox" v-model="line.is_hours"></td>
							<td>{{line.total | currency}}</td>
							<td><button type="button" class="button button--compact button--expand" @click="line.save.call(line)" :disabled="!line.unsaved">Save</button></td>
							<td><button type="button" class="button button--compact button--expand" @click="selected.deleteLine.call(selected, line)" :disabled="!line.id">Delete</button></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="4" style="text-align: right;padding-right:1em;">Grand total</td>
							<td>{{selected.total | currency}}</td>
							<td colspan="2"><button type="button" class="invoice-edit__table__add button button--compact" @click="selected.newLine.call(selected)">+</button></td>
						</tr>
					</tfoot>
				</table>
			</div>

			<button class="button" :disabled="!selected.unsaved">Save</button>
			<button type="button" class="button" @click="deleteInvoice(selected)" :disabled="!selected.id">Delete</button>
			<a href="/invoice/{{selected.id}}" target="_blank" style="margin-left:0.5em;">View</a>
		</form>
	</div>
	{% endverbatim %}
{% endblock %}
