{% extends "_layout.html.twig" %}
{% block title %}{{invoice.company | default(invoice.name)}} {{invoice.type | title}}{% endblock %}
{% block content %}
	{% if invoice %}
		<div class="invoice">
			<div class="row">
				<div class="invoice__left">
					<div class="invoice__from">
						<h1>{{billing.name}}</h1>
						<p>{{billing.address | nl2br}}</p>
					</div>

					{% if invoice.type == 'invoice' %}
						<div class="invoice__to">
							<h2>Bill to</h2>
							<p>
								{% if invoice.name %}{{invoice.name}}<br>{% endif %}
								{% if invoice.company %}{{invoice.company}}<br>{% endif %}
								{{invoice.address | nl2br}}
							</p>
						</div>
					{% endif %}
				</div>
				<div class="invoice__right">
					<div class="invoice__type">{{invoice.type | title}}</div>
					<div class="invoice__date">{{invoice.modified | date('Y-m-d')}}</div>
				</div>
			</div>
			<table class="invoice__lines">
				<thead>
					<tr>
						<th>Description</th>
						<th class="invoice__lines__number">Charge</th>
						<th class="invoice__lines__number">Quantity</th>
						<th class="invoice__lines__number">Total</th>
					</tr>
				</thead>
				<tbody>
					{% set grandTotal = 0 %}
					{% for line in invoice.lines %}
						{% set total = line.charge * line.quantity %}
						{% set grandTotal = grandTotal + total %}
						<tr>
							<td>{{line.description}}</td>
							<td class="invoice__lines__number">{{invoice.currency}}{{line.charge | number_format(2)}}</td>
							<td class="invoice__lines__number">{{line.quantity}}{% if line.is_hours %}&nbsp;hours{% endif %}</td>
							<td class="invoice__lines__number">{{invoice.currency}}{{total | number_format(2)}}</td>
						</tr>
					{% endfor %}

					<tr class="invoice__lines__grand-total">
						<td colspan="3">GRAND TOTAL</td>
						<td class="invoice__lines__number">{{invoice.currency}}{{grandTotal | number_format(2)}}</td>
					</tr>
				</tbody>
			</table>

			{% if invoice.type == 'invoice' %}
				<div class="invoice__payment">
					<h2>Payment details</h2>
					<p>{{billing.payment | nl2br}}</p>
				</div>
			{% endif %}

			<footer class="invoice__footer">
				If you have any questions about this {{invoice.type}} please contact {{billing.name}} at <a href="mailto:{{billing.email}}">{{billing.email}}</a>
			</footer>
		</div>
	{% else %}
		<div class="box">
			<h1>Not Found</h1>
			<p>There is no invoice with that ID. Please try again.</p>
			<a href="/" class="button">Back</a>
		</div>
	{% endif %}
{% endblock %}
